.profile {
  margin-left: auto;
  margin-right: auto;

  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #eaeef3;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.avatar {
  max-width: 150px;
  border-radius: 50%;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
}
.name {
  color: #122236;
  font-size: 28px;
  font-weight: bold;
}
.stats {
  width: 100%;
  margin: 0;
  background-color: #f3f6f9;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  border-radius: 0 0 10px 10px;
}
.stats li {
  flex: 1;
  text-align: center;
  padding: 24px 0;
  border: 1px solid #eaeef3;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.quantity {
  color: #122236;
  font-weight: bold;
}
